// ◈ ◆ ◇ ❖ ⬖ ⬗ ⬘ ⬙

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap');

// Colors
$white: #ffffff;
$black: #000000;
$gray: #4e4e4e;
$light-gray: #e0e0e0;
$pale-gray: #f7f7f7;
$theme: #1a3a68;
$accent: #fcc20d;
